<div class="row">
  <div class="col-md-12">
    <h1>Groups</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %> </td>
            <td><%= pluralize(group.memberships.size, "member") %></td>
            <td><%= group.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <%= button_to 'New Group', new_group_path, method: :get %>
  </div>
</div>