<!DOCTYPE html>
<html>
<head>
  <title>Mybrary</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!--Change order for full width navbar
  <div class="navbar"> 
    <div class="container" data-toggle="clingify">-->
  <div class="container" data-toggle="clingify">
    <div class="navbar">   
        <!--
      mobile collapse menu button
      - data-toggle="toggle" = default BS menu
      - data-toggle="jpanel-menu" = jPanel Menu
      --> 
      
      <!--user menu-->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbo-padder"></div>
    <div class="jumbotron jumbo-picture">
      <div class="container">
        <h1 class="jumbo-text">Mybrary</h1>
        <p>Mybrary is a social sharing app that catalags items between your friends, work, or relatives.  
</p>
        <p><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg signup" %></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Simple</h2>
          <p>It is simple to use. Just join a group, list your items, and request items. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>How the exchange goes down:</h2>
          <p>You request an item from a user. Once a user is notified of your request, he brings the item to you next time he meets you. Then the lender marks approved on the request list and returned when it is returned. Mybrary does the rest.  </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>About Us</h2>
          <p>Learn more about Mybrary's creators and what inspired them to create Mybrary</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; James Tong, Sam Yang, & Josh Scaglione - Team Tigon @flatiron 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>