<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <h2>Name Matches</h2>


    <% @name_matches.each do |item| %>
      <%= link_to "#{item.name} - #{item.type_list.last}", user_item_path(item.user_id, item.id) %>
      <br>
      <%= link_to "Owned by #{item.user.name}", item.user %>
      <br>
    <% end %>

    <br>

    <h2>Tag Matches</h2>

    <% @tag_matches.each do |item| %>
      <%= link_to item.name, user_item_path(item.user_id, item.id) %>
      <br>
    <% end %>

  </div>
  <div class="col-md-1"></div>
</div>