/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require theme-style
 *= require colour-blue
 *= require_tree .
 */

/* changes links colors for login and signup to be white after visit */

a.btn:visited {
  color: white;
}

a.group-link:visited {
  color: white;
}

.btn-inline {
  float: left;
  margin-right: 3px;
}

.group-box {
  color: #ffffff;
  padding-bottom: 2px;
  background-color: grey;
  border-radius: 10px;
}

.group-header {
  background-color: #1b1b1b;
  padding: 1px;
  border-bottom: 2px solid #55a79a;
  border-radius: 10px;
}

.group-buffer {
  padding: 0 1em 0;
}

.navbar-padbar {
  padding-top: 10px;
}

.navbar-formpad {
  padding-top: 0px;
  padding-right: 20px;
  width: 240px; 
  display: block; 
  float: left;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: lightblue;
}
